apiVersion: apps/v1
kind: Deployment
metadata:
  name: ecommerce-deployment
  namespace: ecommerce-ns

spec:
  replicas: 3
  selector:
    matchLabels:
      app: ecommerce
  template:
    metadata:
      labels:
        app: ecommerce
    spec:
      containers: 
      - name: vegitable-app
        image: vinothinisivakumar/e-commerce-app:v3.0.0
        ports:
        - containerPort: 80